<article>
  <header>
		<h2><%= article.title %></h2>
    <em>by</em> <span class="author"><%= article.author.name %></span>
		<em>on</em> <span class="date"><%= article.created_at.strftime('%D %T') %>
  </header>
	<section>
		<%= raw(article.rendered_body) %>
	</section>
</article>