if ($("#errors").length == 0) $("#new_article").prepend("<ul id='errors'></ul>")
if (!$(".notice")) $("body").prepend("<div class='notice'></div>");
<% if @article.errors.any? -%>
	/*Hide the flash notice div*/
	$(".notice").hide(300);


	$("#errors").replaceWith("<%= escape_javascript(render :partial => 'shared/errors', :locals => {:object => @article})%>");
	$("#errors").hide(0);
	$("#errors").show(300);

<% else -%>
	$("#errors").hide(300);

	/*Update the html of the div flash_notice with the new one*/
	$(".notice").html("<%= escape_javascript(flash[:notice])%>");

	/*Show the flash_notice div*/
	$(".notice").show(300);

	/*Clear the entire form*/
	$(":input:not(input[type = submit])").val("");

	$("#list").prepend("<%= escape_javascript(render @article)%>");
	
	$(".notice").delay(3000).hide(300);

<% end -%>
