<div id="left">
	<div id="flash_notice" style="display:none"></div>
	<articles id="list">
	<%= render @articles %>
	</articles>
	<%= will_paginate @articles %>
</div>
<div id="right">
	<% if author_signed_in? %>
	<h3>Something to add?</h3>
	<%= render :partial => "form" %>
	<% end %>
</div>