// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/markdown";
@import "colorbox";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "compass/utilities/lists/horizontal-list";

@import "compass/css3";

@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;
  
	.notice {
		
	}


	header#top, nav, section#content, footer {
		@include column($blueprint-grid-columns, true);
	}

	#container {
		@include container;
		margin-top: 10px;
		background: url("../images/logo1.jpg") no-repeat top left;
		header#top, footer .logo {
		  color: black;
			font-family: "Palatino", "Times", serif;
			font-size: 8em;
			font-weight: bold;
			letter-spacing: -0.03em;
			@include transparent;
			height: 144px;
			span.small {
				letter-spacing: normal;
				font-weight: normal;
				font-size: 0.4em;
				font-variant: lowercase;	
				span {
					color: $link-color;		
					font-size: 1em;
				}
			}
		}
		
		nav {
		  margin-bottom: 4.5em;
			ul {
			 @include horizontal-list;
			 padding-left: 75px;
       li {
         padding-left: 0px;
         padding-right: 1px;
         margin: 0px;
         a {
           display: block;
           padding: 5px;
           background-color: black;
           color: white;
           text-decoration: none;
           &:hover {
             background-color: $link-color;
             color: black;
           }
         }
       }
			}
		}
		
		
		section#content {
		  #left {
		    @include column(ceil($blueprint-grid-columns * (2/3)));
		  }
		  
		  #right {
		    @include prepend(1);
		    @include column(floor($blueprint-grid-columns * (1/3)) - 1, true);
		    position: fixed;
		  }
			articles {
				article {
				  border-bottom: 1px solid #eee;
				  margin-bottom: 2em;
					header {
						em {
							color: $link-color;
						}
						h2 {
							margin-bottom: 0em; 
						}
						span,em {
							font-size: 1.3em;
						}
						.author, .date {
						  font-size: 1.2em;
						}
						margin-bottom: 1em;
						border-bottom: 0px;
						font-size: 1.2em;
					}
				}
			}
		}
		footer {
			margin-top: 1em;
			text-align: center;
			.logo {
				
			}
			
		}
	}
}


form.article {
	@include column($blueprint-grid-columns * (1/2) - 1);
	input.text, input[type="text"], textarea {
		@include column($blueprint-grid-columns * (1/2) - 1);				
	}
}


form {
  @include blueprint-form; 

	aside {
		float: right;
		font-style: italic;
	}

	fieldset {
		border: 0px;
    padding: 0px;

    label {
      display: block;
    }

    input.text, input[type="text"], textarea {
			@include column(floor($blueprint-grid-columns * (1/3)));	
    }


  	input[type="text"] {
      &:focus {
  			background-color: #f1fdc6 + #111;   
      }
  	  
  	}

	}


	#errors {
		background-color: #eee;
		border: 4px solid #ccc;
	  list-style-type: none;
	  margin: 0px;
	  margin-bottom: 1em;
	  padding: 5px;
	}
}

