<table>
	<tbody>
		<tr>
			<td>Name</td><% if can? :manage, Category %><td>Description</td><td>URL</td><td>Layout</td><% end %>
		</tr>
	<% @categories.each do |category| %>
		<%= render :partial => "category", :locals => {:category => category} %>
	<% end %>
		<tr><td><%= link_to_if(can?(:create, Category), "Create Category", new_category_path)%></td></tr>
	</tbody>
</table>